.StoreBar {
  display: flex;
  justify-content: center;
  a {
    flex-basis: 170px;
    margin: 10px 10px 0 0;
  }

  img {
    width: 100%;
  }

  @media (min-width: 960px) {
    justify-content: flex-start;
  }
}
