.ReviewSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem;
    text-align: center;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    
}

