@import "../../style/scss/variable";

.Partners {
  margin: 10rem 0;
  padding: 10rem 2rem;
  text-align: center;
  background: linear-gradient(50deg, $secondary-color, $primary-color);
  color: white;
}

.Carousel {
  max-width: 114rem;
  margin: 0 auto;
}
