@import "../../style/scss/variable";
@import "../../style/scss/mixin";

.Features {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 114rem;
  // min-width: 430px;
  margin: 0 auto;
  padding: 0 4rem;

  @include breakpoint($desktop-width) {
    flex-direction: row;
    align-items: center;
    padding: 0 4rem;
  }
}

.ImgContainer {
  max-width: 75%;

  @include breakpoint($tablet-width) {
    max-width: 50%;
  }

  @include breakpoint($desktop-width) {
    padding-right: 4rem;
    min-width: 40%;
  }
}

.Content {
  max-width: 74rem;
  text-align: center;

  @include breakpoint($desktop-width) {
    text-align: left;
  }
}

.FeaturesContainer {
  margin: 4.5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 0 4rem;
  text-align: left;

  @media (max-width: $desktop-width) {
    & {
      padding: 0;
    }
  }
}
