.ImgAnimation {
  animation: move 4s infinite linear alternate;
  margin: 40px 0;

  .Image {
    width: 100%;
  }

  @keyframes move {
    from {
      transform: translateY(-2rem);
    }

    to {
      transform: translateY(0);
    }
  }
}
