@import "../../../style/scss/variable";
@import "../../../style/scss/mixin";

.TitleSection {
 
  .Title{
    font-size: $h1-font-size;
    @include breakpoint($desktop-width){
      width: 140%;
    }
  }

  .Subtitle {
    font-size: $p-font-size;
  }
}
